
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/LayoutSite.cshtml";
}

<h2>Đơn hàng đã đặt thành công, nhấn vào đây @Html.ActionLink("Here", "Index", "Trangchu") để về trang chủ</h2>

